{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="guidedvisit" role="region">

  <!-- Politicas Header -->
  <div class="guidedvisit-header section-header">
    <div class="container">
      <h2 class="page-title">{{ _('Visita guiada por el visor de presupuestos') }}</h2>
    </div>
  </div>

  <!-- Policies Content -->
  <div class="guidedvisit-content">
    <div class="container">
      <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm">
          <ul class="guidedvisit-menu">
            <li><a href="#de-las-grandes-cifras-al-detalle">{{ _('De las grandes cifras al detalle') }}</a></li>
            <li><a href="#no-solo-lo-presupuestado">{{ _('No solo lo presupuestado, también lo gastado') }}</a></li>
            <li><a href="#tambien-los-ingresos">{{ _('También los ingresos') }}</a></li>
            <li><a href="#mas-rapido-usa-el-buscador">{{ _('Más rápido: usa el buscador') }}</a></li>
            <li><a href="#la-evolucion-desde-2012">{{ _('La evolución desde 2012') }}</a></li>
            <li><a href="#quien-lo-gasta">{{ _('¿Quién lo gasta?') }}</a></li>
            <li><a href="#en-que-se-gasta">{{ _('¿Cómo se gasta?') }}</a></li>
            <li><a href="#si-tienes-dudas-consulta-el-glosario">{{ _('Si tienes dudas, consulta el glosario') }}</a></li>
          </ul>
        </div>
        <div class="col-md-9">
          <p class="lead">{{ _('El objetivo de la página de presupuestos del Consell de Menorca es que cualquier ciudadano sea capaz de encontrar, a unos pocos clics, de forma visual y sin tener que revisar páginas y páginas de tablas, cualquier línea de las cuentas de los últimos años. Si es tu primera vez y no sabes por dónde empezar, te acompañamos en un primer paseo.') }}</p>

          <h3 id="de-las-grandes-cifras-al-detalle">{{ _('De las grandes cifras al detalle') }}</h3>

          <p>{{ _('Desde <a href="/es/" target="_blank">la portada</a> puedes acceder a la <a href="/es/resumen" target="_blank">visión global</a>, que te da una idea general de ingresos y gastos, o acceder a la página de <a href="/es/politicas#view=functional&year=2019" target="_blank">políticas de gasto</a>, en la que, de un solo vistazo, puedes ver cómo se reparte el presupuesto y cuáles son los grandes bloques. Si te fijas en los colores, verás que están agrupados por tipos básicos en la barra superior y que, por ejemplo, el 26,7% del presupuesto de 2019 se destina a las actuaciones de carácter económico.') | safe }}</p>

          <img src="{{ static('assets/guidedvisit-1.png') }}" class="img-responsive" alt="" />

          <p>{{ _('Desde esas grandes cifras puedes ir bajando, según te adentras en cada una de ellas, hasta llegar a niveles de detalle mucho más precisos. Por ejemplo: desde <a href="/es/politicas/43/comercio-turismo-y-pequenas-y-medianas-empresas#view=functional" target="_blank">&#39;comercio, turismo y pequeñas y medianas empresas&#39;</a> puedes pasar a ver la partida de <a href="/es/programas/43200/promocion-turistica#view=economic" target="_blank">&#39;promoción turística&#39;</a> en detalle.') | safe }}</p>

          <img src="{{ static('assets/guidedvisit-2.gif') }}" class="img-responsive" alt="" />

          <h3 id="no-solo-lo-presupuestado">{{ _('No solo lo presupuestado, también lo gastado') }}</h3>

          <p>{{ _('La página web de los presupuestos del Consell de Menorca no solo informa de forma gráfica del reparto de los presupuestos, sino también del estado de ejecución mensual. Es decir, puedes saber cuánto se ha gastado de cada partida hasta la fecha de actualización. Así, lo gastado aparece junto a lo presupuestado en todas las tablas de la herramienta y, además, de forma gráfica, en las visualizaciones. Las franjas más oscuras de la <a href="/es/resumen" target="_blank">visión global</a>, por ejemplo, muestran cuánto se ha gastado o ingresado, por el momento, del total previsto en los presupuestos (el fondo más claro).') | safe }}</p>

          <img src="{{ static('assets/guidedvisit-3.png') }}" class="img-responsive" alt="" />

          <h3 id="tambien-los-ingresos">{{ _('También los ingresos') }}</h3>

          <p>{{ _('Esta web también incluye detalles sobre las partidas de ingresos. La <a href="/es/politicas#view=income&year=2019" target="_blank">visualización</a> muestra el reparto de los grandes bloques y cómo, por ejemplo, las transferencias del Govern de les Illes Balears son la mayor fuente de financiación del Consell, seguidas por las transferencias de la Administración del Estado, que son las entidades encargadas de recaudar impuestos como el IVA y el IRPF.') | safe }}</p>

          <img src="{{ static('assets/guidedvisit-4.png') }}" class="img-responsive" alt="" />

          <h3 id="mas-rapido-usa-el-buscador">{{ _('Más rápido: usa el buscador') }}</h3>

          <p>{{ _('Hasta ahora hemos estado navegando, arriba y abajo, para ir al detalle o descubrir los grandes números. Pero, si te interesa un asunto concreto, existe una opción mucho más directa: utilizar el buscador, que rastrea en los presupuestos y en las páginas de ayuda como ésta. Introduce, por ejemplo, la palabra &#39;ITV&#39;. La búsqueda te dará <a href="/es/busqueda?q=ITV" target="_blank">varios resultados</a>: si pinchas en el primero podrás ver el <a href="/es/articulos/i/32/tasas-por-la-realizacion-de-actividades-de-competencia-local#view=economic" target="_blank">presupuesto y los ingresos por la realización de actividades de competencia local</a>.') | safe }}</p>

          <h3 id="la-evolucion-desde-2012">{{ _('La evolución desde 2012') }}</h3>

          <p>{{ _('A veces tu curiosidad irá más allá y querrás saber cómo ha evolucionado un determinado gasto o ingreso en los últimos años. ¿Se destina más a una determinada partida o se ingresa más de un impuesto concreto ahora que hace unos años? La web de presupuestos del Consell de Menorca contiene datos desde 2012. Así, por ejemplo, puedes saber cuánto se ha presupuestado, y gastado, en <a href="/es/programas/45300/carreteras#view=economic" target="_blank">carreteras</a> desde ese año.') | safe }}</p>

          <img src="{{ static('assets/guidedvisit-5.gif') }}" class="img-responsive" alt="" />

          <h3 id="quien-lo-gasta">{{ _('¿Quién lo gasta?') }}</h3>

          <p>{{ _('Hasta ahora nos hemos centrado en la clasificación funcional o por programas, es decir, a qué se destina el dinero. Pero, en algunos casos, es interesante saber qué organismo es el encargado de la gestión. Por ejemplo, en el programa de <a href="/es/politicas/92/servicios-de-caracter-general#view=institutional" target="_blank">servicios de carácter general</a> puedes ver, desglosado tras abrir el apartado del Consell, la parte que gestionan las diferentes áreas.') | safe }}</p>

          <img src="{{ static('assets/guidedvisit-6.gif') }}" class="img-responsive" alt="" />

          <h3 id="en-que-se-gasta">{{ _('¿Cómo se gasta?') }}</h3>

          <p>{{ _('La tercera pata de un presupuesto de gastos es la clasificación económica o, lo que es lo mismo, ¿en qué se gasta el dinero? Es decir: este punto explica si se trata de gastos de personal, gastos en bienes y servicios, inversiones o transferencias a otras entidades. Por ejemplo, si prestamos atención al detalle del presupuesto de <a href="/es/politicas/15/vivienda-y-urbanismo#view=economic" target="_blank">vivienda y urbanismo</a> veremos que la franja más destacada, en color azul, es el pago de nóminas. La tabla inferior lo confirma: más de 800.000 de los 1,5 millones de euros presupuestados para 2019 están destinados a los gastos de personal.') | safe }}</p>

          <img src="{{ static('assets/guidedvisit-7.gif') }}" class="img-responsive" alt="" />

          <p>{{ _('Otro ejemplo: en el programa de <a href="/es/politicas/23/servicios-sociales-y-promocion-social#view=economic" target="_blank">servicios sociales y promoción social</a> la franja más grande, siempre en azul, está destinada a las transferencias que se hacen a otras entidades. En este caso, se trata del dinero que proporciona el Consell a los ayuntamientos, consorcios, organismos autónomos y ONGs que se encargan de prestar dichos servicios directamente a la ciudadanía.') | safe }}</p>

          <img src="{{ static('assets/guidedvisit-8.png') }}" class="img-responsive" alt="" />

          <h3 id="si-tienes-dudas-consulta-el-glosario">{{ _('Si tienes dudas, consulta el glosario') }}</h3>

          <p>{{ _('Conceptos como ahorro, tipos de clasificación del presupuesto (según queramos poner el foco en para qué se gasta, quién lo gasta o en qué se gasta) y definiciones de los principales impuestos están en el <a href="/es/glosario?page=1" target="_blank">glosario</a>. Para que no te queden dudas.') | safe }}</p>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}
